.container {
   position: relative;
   width: 100%;
   height: 800px;
   background-image: url('https://www.clinicasantaclarita.com/images/slider/1.jpg');
   background-size: cover;
   background-position: center;
}
.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   text-align: center;
}
.overlay h1 {
   font-size: 3rem;
   margin-bottom: 1rem;
   color: #143f80;
}
.linkDesign {
   font-size: 1.5rem;
   padding: 1rem 2rem;
   background-color: #fff;
   color: #000;
   border-radius: 20px;
   cursor: pointer;
}
.p{
   font-size: x-large;
}